
.project-card {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5%;
    padding: 0 !important;
    height: 300px;
}

.card-container {
    position: relative;
    height: 100%;
    width: 85%;
    border-radius: 5%;
    padding: 0;
}

.card-image {
    height: 100%;
    width: 100%;
    border-radius: 5%;
}

.card-overlay {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease-in-out;
    background-color: rgb(238, 235, 235);
    border-radius: 5%;
}

.card-container:hover .card-overlay {
    opacity: 1;
}

.card-header {
    color: black;
    margin-top: 15%;
    font-family: 'Raleway', sans-serif;
}

#card-button {
    border: 2px solid #26c6da ;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    color: black;
}

#card-button:hover {
    background-color: #26c6da;
}

.btn-disabled {
    border-color: transparent !important;
}

