#home {
    background-image: url('./blue-space.jpg');
    background-size: cover;
    height: 100vh;
    /* z-index: 0; */
    /* position: relative; */
}

#headline {
    font-family: 'Ubuntu', sans-serif;
    font-size: 4em;
    position: absolute;
    top: 33%;
    z-index: 0;
    background: transparent;
    margin: 0 10%;
    color: aliceblue;  
}

canvas {
  display: none;
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:  rgb(21, 239, 255) }
  }

  #sentence2 {
    color: rgb(21, 239, 255);
    border-right: .15em solid  rgb(21, 239, 255);
    animation: 
    blink-caret 1s step-end infinite;
  }

  #down-arrow {
    background-color: transparent;
    border: 1px solid white;
    transition: .5s;
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    left: 40%;
  }

  #down-arrow:hover {
    border-radius: 50%;
    border: 3px solid white;
  }

  @media only screen and (min-width: 600px)  {
  #down-arrow {
    left: 46%;
    bottom: 15%;
  }    
  canvas {
    z-index: -10;
    display: inline;
  }
  }
  

  