#contact {
    height: 80vh;
}

#contact-header {
    font-weight: bolder;
    padding-top: 5%;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(21, 239, 255);
}

#form-textbox {
    width: 50%;
    height: 250px;
}

.form-width {
    /* width: 25%; */
}

.contact-divider {
    width: 50%;
}