#contact {
    overflow-x: hidden;
}

#contact-header {
    font-weight: bolder;
    padding-top: 5%;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(21, 239, 255);
}

#form-container {
    margin-top: 1.5em;
}

#form-textbox {
    height: 250px;
}

#form-textbox:focus {
    border-color: rgb(255, 255, 255);
}

#form-button {
    margin-top: 1.5em;
    background-color: transparent;
    border: 2px solid rgb(21, 239, 255);
    transition: .5s;
}

#form-button:hover {
    background-color: rgb(21, 239, 255);
}
.contact-divider {
    width: 50%;
}
