nav {
    background-color: transparent;
  }
  
  #navbar {
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    top: 0;
  }
  
  nav li {
    margin: 0 20px;
  }
  
  nav ul a {
    font-size: 1.2rem;
    padding: auto;
    transition: .5s;
  }
  
  nav ul a:hover {
    color: rgb(21, 239, 255);
  
  }
  
  .name {
    font-size: 2rem;
    padding: 0 2%;
    font-weight: bold;
  }
  
  .no-shadow {
    box-shadow: none !important;
  }

  .highlight-link {
    color: rgb(21, 239, 255);
    font-weight: bold;
  }

  .sidenav-overlay {
    z-index: 0;
  }

  @media (min-width: 993px) {

    .sidenav-trigger {
      display: none !important;
    }

  }