#background {
    background-image: url('https://images.wallpaperscraft.com/image/light_sky_stars_background_85555_1280x720.jpg');
    background-size: cover;
    height: 100vh;
    z-index: 0;
    position: relative;
}

#headline {
    font-family: 'Ubuntu', sans-serif;
    font-size: 4em;
    position: absolute;
    z-index: 0;
    background: transparent ;
    margin: 15% 30%;
    color: aliceblue;  
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:  rgb(21, 239, 255) }
  }

  #sentence2 {
    border-right: .15em solid  rgb(21, 239, 255);
    animation: 
    /* typing 3.5s steps(30, end), */
    blink-caret 1s step-end infinite;
  }

  